---
import Default from '~/layouts/Default.astro';
import { Languages } from '../../utils/types';
import main_logo from '../../assets/img/main_logo.svg';
import Navbar from '~/components/Navbar.astro';
import Footer from '~/components/Footer.astro';
const calendar = await Astro.glob('../../../data/calendar/*.mdx');

export async function getStaticPaths() {
	return Languages.values().map((language: any) => {
		return {
			params: { lang: language },
			props: { language },
		};
	});
}
const { language } = Astro.props;
---

<Default title="homepage">
	<header class="relative">
		<Navbar current={1} language={language} />
		<div
			class="background_gradient md:pt-0 md:h-100 h-[70%] flex flex-col w-full items-center justify-center text-white pt-25"
		>
			<img src={main_logo} alt="" width="100px" height="100px" class="mb-20px" />
			<h1 class="mb-50px text-5xl mx-auto text-center">
				{
					language == 'it' ? (
						<>
							Centro <b>Con-Dividi</b>
						</>
					) : (
						<>
							<b>Con-Dividi</b> Center
						</>
					)
				}
			</h1>
			<h2 class="text-white px-5 pb-5 md:p-0 text-center">
				{
					language == 'it' ? (
						<>
							Incontri, mostre, laboratori e dibattiti per diffondere e sensibilizzare tutti, sui temi dell'infanzia,
							dell'adolescenza e della famiglia.
						</>
					) : (
						<>
							Meetings, exhibitions, workshops, and debates to spread awareness and educate everyone on the topics of
							childhood, adolescence, and family.
						</>
					)
				}
			</h2>
		</div>
	</header>
	<div class="p-4 min-h-150">
		{
			calendar[0].frontmatter.eventi.map(
				(e: { data: string | number | Date; nome: { [x: string]: any }; descrizione: { [x: string]: any } }) => {
					let date = new Date(e.data);
					let nome = e.nome[language];
					let descrizione = e.descrizione[language];
					let month = new Intl.DateTimeFormat(language, { month: 'long' }).format(date).toLowerCase();
					month = month.charAt(0).toUpperCase() + month.slice(1);
					let minutes = date.getMinutes().toString().padStart(2, '0');
					let time_text = '';
					switch (language) {
						case 'it':
							time_text = 'Alle ';
							break;
						case 'en':
							time_text = 'At time ';
							break;
						default:
							break;
					}
					return (
						<div class="lg:flex rounded-lg border border-gray-400 my-5 lg:mx-20">
							<div class="bg-blue-600 rounded-lg lg:w-2/12 py-4 block h-auto shadow-inner flex">
								<div class="m-auto">
									<div class="text-center tracking-wide">
										<div class="text-white font-bold text-4xl">{date.getDate()}</div>
										<div class="text-white font-normal text-2xl">{month}</div>
									</div>
								</div>
							</div>
							<div class="w-full lg:w-11/12 xl:w-full px-1 bg-white py-5 lg:px-2 lg:py-2 tracking-wide rounded-lg">
								<div class="flex flex-row lg:justify-start justify-center">
									<div class="text-gray-700 font-medium text-sm text-center lg:text-left px-2">
										<i class="far fa-clock" /> {time_text + date.getHours()}:{minutes}
									</div>
								</div>
								<div class="font-semibold text-gray-800 text-xl text-center lg:text-left pt-2 px-2">{nome}</div>
								<div class="sans_regular text-gray-800 text-xl text-center lg:text-left px-2">{descrizione}</div>
								<div class="text-gray-600 font-medium text-sm pt-1 text-center lg:text-left px-2">
									{'Via Carvina 1, 6807 Taverne'}
								</div>
							</div>
						</div>
					);
				}
			)
		}
	</div>
	<Footer language={language} />
</Default>
