---
import Default from "~/layouts/Default.astro";
import { Languages } from "../../utils/types";
import main_logo from "../../assets/img/main_logo.svg";
import Navbar from "~/components/Navbar.astro";
import Footer from "~/components/Footer.astro";
import Modal from "~/components/Modal.astro";
import ModalContent from "~/components/ModalContent.astro";
import Header from "~/components/Header.astro";
import ClientImages from "~/components/ClientImages.svelte";

const imagesRaw = await Astro.glob("../../assets/opt_img/carousel/*.jpg");
const files = [
	"DSC_5037.jpg",
	"DSC_5041.jpg",
	"-DSC_5042.jpg",
	"DSC_5044.jpg",
	"DSC_5047.jpg",
	"DSC_5051.jpg",
	"-DSC_5052.jpg",
	"DSC_5053.jpg",
	"-DSC_5054.top.jpg",
	"DSC_5055.jpg",
	"-DSC_5056.jpg",
	"DSC_5057.jpg",
	"-DSC_5058.jpg",
	"-DSC_5059.jpg",
	"DSC_5062.top.jpg",
	"DSC_5063.top.jpg",
	"-DSC_5066.jpg",
	"DSC_5067.top.jpg",
	"-DSC_5068.jpg",
	"-DSC_5076.jpg",
	"-DSC_5077.jpg",
	"DSC_5078.top.jpg",
	"-DSC_5079.jpg",
	"-DSC_5080.jpg",
	"-DSC_5082.jpg",
	"DSC_5084.top.jpg",
	"-DSC_5086.jpg",
	"-DSC_5087.jpg",
	"DSC_5088.jpg",
	"-DSC_5090.jpg",
	"DSC_5092.top.jpg",
	"DSC_5095.jpg",
	"-DSC_5096.jpg",
	"DSC_5098.jpg",
	"DSC_5100.jpg",
	"DSC_5104.top.jpg",
	"-DSC_5105.jpg",
	"DSC_5106.top.jpg",
];
const keepFiles = files
	.filter((e) => {
		return e.at(0) != "-";
	})
	.map((e) => {
		let split = e.split(".");
		split.pop();
		let toReturn: string = "";
		split.forEach((e) => {
			toReturn += e + ".";
		});
		return toReturn;
	});
const images = imagesRaw.filter((e) => {
	let split = e.default.src.split("/");
	return (
		keepFiles.filter((i) => split[split.length - 1].startsWith(i)).length > 0
	);
});
export async function getStaticPaths() {
	return Languages.values().map((language: any) => {
		return {
			params: { lang: language },
			props: { language },
		};
	});
}
const { language } = Astro.props;
---

<Default title="homepage">
	<header class="relative">
		<Navbar current={2} language={language} />
		<Header language={language} />
	</header>
	<div class="p-4 min-h-150">
		<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
			{
				images.map((e: any, i: any) => {
					return (
						<div class="grid">
							<ClientImages
								image_src={e.default.src}
								onclick={"triggerDialog(" + i + ")"}
								client:visible
							/>
							<Modal index={i}>
								<ModalContent i={i} image={e} />
							</Modal>
						</div>
					);
				})
			}
		</div>
	</div>
	<Footer language={language} />
</Default>

<script></script>
<script is:inline>
	function triggerDialog(i) {
		document.getElementById("modal_" + i)?.classList.toggle("hidden");
	}

	function nextImage(i) {
		let e = i + 1;
		let next = document.getElementById("modal_" + e);
		if (next == null) {
			e = 0;
		}
		document.getElementById("modal_" + i)?.classList.toggle("hidden");
		document.getElementById("modal_" + e)?.classList.toggle("hidden");
	}

	function prevImage(i) {
		let e = i - 1;
		if (i == 0) {
			e = document.querySelectorAll("._modal").length - 1;
		}
		document.getElementById("modal_" + i)?.classList.toggle("hidden");
		document.getElementById("modal_" + e)?.classList.toggle("hidden");
	}
</script>
